/* ::-webkit-scrollbar {
	width: 8px;
	background: #adabab;
}

::-webkit-scrollbar-thumb {
	background: #212121;
	border-radius: 0%;
	opacity: 1;
}

::-webkit-scrollbar-track {
	background: #666;
	border-radius: 0%;
} */

:root {
	--pri-theme-color: #04201a;
	--sec-theme-color: #f4f6f6;
	--pri-heading-color: #2a3735;
	--pri-font-family: Manrope;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,
body {
	height: 100%;
	width: 100%;
	/* font-family: 'gilroy'; */
	/* font-family: Arial, Helvetica, var(--pri-font-family); */
	font-family: var(--pri-font-family);
}
.heading-style-h2 {
	letter-spacing: -2px;
	font: 700 48px/1.2 var(--pri-font-family);
	color: VAR(--pri-theme-color);
}
.heading-style-h4 {
	color: var(--pri-theme-color);
	letter-spacing: -1px;
	font: 500 24px/1.25 var(--pri-font-family);
}

.para-16 {
	font: 400 16px/1.5 var(--pri-font-family);
	color: var(--pri-heading-color);
}
.para-14 {
	font: 400 14px/1.5 var(--pri-font-family);
	color: var(--pri-heading-color);
}
.btn-outline {
	padding: 12px 24px;
	border-radius: 200px;
	border: 1px solid #5f6766;
	background: transparent;
	font: 400 16px/1.5 var(--pri-font-family);
	color: #ddd;
	cursor: pointer;
}
.btn-primary {
	border: none;
	border-radius: 100px;
	background: #c7bff3;
	padding: 12px 24px;
	font: 400 16px/1.5 var(--pri-font-family);
	color: var(--pri-theme-color);
	cursor: pointer;
}
@media (max-width: 600px) {
	.heading-style-h2 {
		font: 600 32px/1.2 var(--pri-font-family);
		letter-spacing: -1.2px;
	}
	.para-16 {
		font-size: 14px;
	}
}
#main {
	background-color: var(--sec-theme-color);
}

.nav-bar {
	width: 100%;
	padding: 16px 160px;
	/* position: fixed; */
	/* top: 0; */
	/* backdrop-filter: blur(8px); */
	/* border-bottom: 1px solid #333; */
	/* background-color: #04201ae7; */
	background-color: var(--pri-theme-color);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-logo {
	display: flex;
	gap: 4px;
	color: #eff0f0;

	font: 600 34px/1.2 var(--pri-font-family);
	letter-spacing: -1.7px;
}
.nav-menu {
	display: none;
}
.nav-links {
	display: flex;
	align-items: center;
	gap: 26px;
}

.nav-link {
	color: #ddd;
	text-decoration: none;
}
.nav-link:hover {
	color: #fff;
}

.nav-buttons {
	display: flex;
	align-items: center;
	gap: 8px;
}

.hero-section {
	width: 100%;
	align-items: center;
	display: flex;
	padding: 112px 160px 192px;
	flex-direction: column;
	background: var(--pri-theme-color);
}

.hero-content {
	display: flex;
	width: 736px;
	max-width: 100%;
	flex-direction: column;
	align-items: center;
	gap: 32px;
}

.hero-feature {
	padding: 8px 16px 8px 8px;
	display: flex;
	align-items: center;
	gap: 8px;
	background-color: var(--pri-heading-color);
	border: 1px solid #5f6766;
	border-radius: 360px;
	text-align: center;
	font: 300 14px/1.5 var(--pri-font-family);
}
.feature-new {
	padding: 3px 12px 3px 8px;
	display: flex;
	align-items: center;
	border-radius: 360px;
	background: #485151;
	gap: 2px;
	color: #ddd;
}
.feature-icons {
	width: 16px;
	aspect-ratio: 1;
	object-fit: contain;
}
.feature-text {
	display: flex;
	align-items: center;
	gap: 4px;
	color: #eff0f0;
}

.hero-text-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 12px;
	align-items: center;
	text-align: center;
}
.hero-text-title {
	color: #ddd;
	font-size: 56px;
	font-weight: 800;
	line-height: 1.2;
	letter-spacing: -3px;
}
.hero-text-subtitle {
	color: #c5c9c8;
	width: 476px;
	font-weight: 300;
}

.hero-cta-container {
	display: flex;
	align-items: center;
	gap: 8px;
}
.hero-cta-container .btn-primary {
	color: #ddd;
	background: #603ab0;
}
.hero-cta-container .btn-primary:hover {
	background: #7048d5;
}
.btn-outline:hover {
	border-color: #7b8584;
}

.hero-customer-rating {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 11px;
}
.avatars-png {
	width: 124px;
}
.rating-container {
	display: flex;
	flex-direction: column;
}
.star-rating {
	display: flex;
	gap: 3px;
}
.full-star-icon {
	width: 16px;
	aspect-ratio: 1;
	object-fit: contain;
}
.rating-text {
	color: #eff0f0;
	margin-top: 4px;
	font: 200 14px/1.5 var(--pri-font-family);
}

.hero-image-container {
	height: 0;
}
.hero-image-container .hero-img {
	width: 928px;
	margin-top: 57px;
}

@media (max-width: 600px) {
	.nav-bar {
		padding: 16px;
	}
	.nav-logo {
		font-size: 33px;
	}
	.nav-links,
	.nav-buttons {
		display: none;
	}
	.nav-menu {
		display: block;
	}
	.hero-section {
		padding: 56px 16px 112px;
	}
	.hero-text-title {
		font: 700 48px/1.2 var(--pri-font-family);
		letter-spacing: -2px;
	}
	.hero-text-subtitle {
		font-size: 14px;
		width: 370px;
	}
	.hero-image-container .hero-img {
		width: 358px;
		margin-top: 56px;
	}
}

.brands-section {
	margin-top: 317px;
	padding: 112px 160px 56px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.brands-wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
	gap: 44px;
}
.brands-heading {
	color: var(--pri-theme-color);
	text-align: center;
	letter-spacing: -1px;
	font: 500 24px/1 var(--pri-font-family), sans-serif;
}
.logo-carousel {
	width: 100%;
	position: relative;
	overflow: hidden;
}
.logo-carousel-overlay {
	position: absolute;
	z-index: 99;
	display: flex;
	height: 100%;
	width: 100%;
	left: 0;
	right: 0;
	top: 50%;
	transform: translate(0%, -50%);
	background: radial-gradient(transparent, var(--sec-theme-color));
}
.logo-grid {
	z-index: 0;
	display: flex;
	width: 100%;
	align-items: center;
	gap: 40px 74px;
	justify-content: space-between;
	flex-wrap: nowrap;
}
.logo-image {
	object-fit: contain;
	object-position: center;
	align-self: stretch;
	margin: auto 0;
	width: fit-content;
}

.brands-cta-container {
	display: flex;
	justify-content: start;
	flex-direction: column;
	align-items: center;
	gap: 32px;
	text-align: center;
}

.brands-cta-container .btn-primary {
	border: none;
	background: var(--pri-theme-color);
	gap: 8px;
	color: var(--sec-theme-color);

	font: 300 16px/1.5 var(--pri-font-family);
}

@media (max-width: 600px) {
	.brands-section {
		margin-top: 117px;
		padding: 56px 16px 28px;
	}
	.brands-wrapper {
		max-width: 100%;
	}
	.logo-carousel {
		max-width: 100%;
		margin-top: 40px;
		padding: 0 40px;
	}
	.logo-grid {
		max-width: 100%;
		flex-wrap: nowrap;
	}
	.cta-container {
		margin-top: 40px;
	}
	.cta-button {
		padding: 0 20px;
	}
}

.main-feature-section {
	padding: 56px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 56px;
}
.mf-title-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 12px;
}
.mf-title-text .para-16 {
	width: 386px;
}
.mf-features {
	margin: auto;
	display: flex;
	flex-direction: column;
	gap: 56px;
}
.mf-features-frame-container {
	display: flex;
	gap: 56px;
}
.mf-features-frame {
	height: 444px;
	width: 436px;
	display: flex;
	flex-direction: column;
	gap: 32px;
}
.mf-frame-image {
	width: 100%;
	object-fit: contain;
}
.mf-frame-text {
	display: flex;
	flex-direction: column;
	gap: 12px;
}
.mf-frame-text .heading-style-h4 {
	display: flex;
	align-items: center;
	gap: 8px;
}
@media (max-width: 600px) {
	.main-feature-section {
		padding: 28px 16px;
		gap: 36px;
	}
	.mf-features-frame-container {
		flex-direction: column;
	}
	.mf-features-frame {
		height: 389px;
		width: 358px;
	}
}

.additional-feature-section {
	padding: 56px 160px 112px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 56px;
}
.af-image {
	width: 100%;
	/* mask-image: linear-gradient(
		#000 0%,
		#000 40%,
		transparent 90%,
		transparent 100%
	); */
	mask-image: linear-gradient(
		rgba(244, 245, 246, 1) 42%,
		rgba(244, 245, 246, 0.54) 56%,
		rgba(244, 245, 246, 0.11) 76%,
		rgba(244, 245, 246, 0) 100%
	);
	mask-size: 100% 100%;
	mask-repeat: no-repeat;
}

.af-cards-container .af-cards {
	height: 228px;
	width: 352px;
	padding: 32px;
	display: flex;
	flex-direction: column;
	gap: 16px;
	background-color: #eff0f0;
	border-radius: 16px;
}
.af-cards-container .af-cards .af-icon-cards {
	width: 48px;
}
