* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,
body {
	height: 100%;
	width: 100%;
	/* font-family: 'gilroy'; */
	/* font-family: Arial, Helvetica, sans-serif; */
	font-family: Manrope, sans-serif;
}

#main {
	height: 100%;
	width: 100%;
}
.nav-bar {
	width: 100%;
	padding: 16px 160px;
	/* position: fixed; */
	/* top: 0; */
	/* backdrop-filter: blur(8px); */
	/* border-bottom: 1px solid #333; */
	/* background-color: #04201ae7; */
	background-color: #04201a;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-logo {
	display: flex;
	gap: 4px;
	color: #eff0f0;
	line-height: 1.2;
	font-weight: 600;
	font-size: 34px;
}
.nav-menu {
	display: none;
}
.nav-links {
	display: flex;
	align-items: center;
	gap: 26px;
}

.nav-link {
	color: #ddd;
	text-decoration: none;
}
.nav-link:hover {
	color: #fff;
}

.nav-buttons {
	display: flex;
	align-items: center;
	gap: 8px;
}

.btn-outline {
	padding: 12px 24px;
	border-radius: 200px;
	border: 1px solid #5f6766;
	background: transparent;
	font-size: 16px;
	line-height: 1.5;
	color: #ddd;
	cursor: pointer;
}

.btn-primary {
	border: none;
	border-radius: 100px;
	background: #c7bff3;
	padding: 12px 24px;
	font-size: 16px;
	line-height: 1.5;
	color: #04201a;
	cursor: pointer;
}

.hero-section {
	width: 100%;
	align-items: center;
	display: flex;
	padding: 112px 160px 192px;
	flex-direction: column;
	background: #04201a;
}

.hero-content {
	display: flex;
	width: 736px;
	max-width: 100%;
	flex-direction: column;
	align-items: center;
	gap: 32px;
}

.hero-feature {
	padding: 8px 16px 8px 8px;
	display: flex;
	align-items: center;
	gap: 8px;
	background-color: #2a3735;
	border: 1px solid #5f6766;
	border-radius: 360px;
	text-align: center;
	font: 100 14px/1.5 sans-serif;
}
.feature-new {
	padding: 3px 12px 3px 8px;
	display: flex;
	align-items: center;
	border-radius: 360px;
	background: #485151;
	gap: 2px;
	color: #ddd;
}
.feature-icons {
	width: 16px;
	aspect-ratio: 1;
	object-fit: contain;
}
.feature-text {
	display: flex;
	align-items: center;
	gap: 4px;
	color: #eff0f0;
}

.hero-text-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 12px;
	align-items: center;
	text-align: center;
}
.hero-text-title {
	color: #ddd;
	font-size: 56px;
	font-weight: 600;
	line-height: 1.2;
	letter-spacing: -2px;
}
.hero-text-subtitle {
	color: #c5c9c8;
	font-size: 16px;
	font-weight: 100;
	line-height: 1.5;
	width: 476px;
	letter-spacing: 0.2px;
}

.hero-cta-container {
	display: flex;
	align-items: center;
	gap: 8px;
}
.hero-cta-container .btn-primary {
	color: #ddd;
	background: #603ab0;
}
.hero-cta-container .btn-primary:hover {
	background: #7048d5;
}
.btn-outline:hover {
	border-color: #7b8584;
}

.hero-customer-rating {
	display: flex;
	align-items: center;
	gap: 11px;
}
.avatars-png {
	width: 124px;
}
.rating-container {
	display: flex;
	flex-direction: column;
}
.star-rating {
	display: flex;
	gap: 3px;
}
.full-star-icon {
	width: 16px;
	aspect-ratio: 1;
	object-fit: contain;
}
.rating-text {
	color: #eff0f0;
	margin-top: 4px;
	font: 100 14px/2 Manrope, sans-serif;
}

.hero-image-container {
	height: 0;
}
.hero-image-container .hero-img {
	width: 928px;
	margin-top: 57px;
}

@media (max-width: 400px) {
	.nav-bar {
		padding: 16px;
	}
	.nav-logo {
		white-space: initial;
	}
	.nav-links,
	.nav-buttons {
		display: none;
	}
	.nav-menu {
		display: block;
	}
	.hero-section {
		padding: 56px 16px 112px;
	}
	.hero-text-subtitle {
		font-size: 14px;

		width: 358px;
	}
	.hero-image-container .hero-img {
		width: 358px;
		margin-top: 56px;
	}
}
